<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <title>nachhilfe-informatik</title>
    <script defer="defer" src="/static/js/chunk-vendors.155d8e99.js"></script>
    <script defer="defer" src="/static/js/app.c4443f1e.js"></script>
    <link href="/static/css/chunk-vendors.c20938b3.css" rel="stylesheet">
    <link href="/static/css/app.9554b61c.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but nachhilfe-informatik doesn't work properly without JavaScript enabled. Please enable
    it to continue.</strong></noscript>
<section id="section" style="display: none;" class="d-none">{{ menu }}</section>
<section id="lang" style="display: none;" class="d-none">{{ lang }}</section>
<section id="mode" style="display: none;" class="d-none">online</section>
<section id="online_url" style="display: none;" class="d-none">https://informatik-nachhilfe.onrender.com/</section>
<div id="app" class="vh-100 container-fluid p-0 m-0"></div>
</body>
</html>